@font-face {
    font-family: Gamecuben;
    src: url('./assets/fonts/GameCube.ttf');
}
@font-face {
    font-family: Orbitron;
    src: url('./assets/fonts/Orbitron-Regular.ttf');
}

html {
    background-color: #041114;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#0A1D20, #041114);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0px;
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.display {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    pointer-events: none;
    margin-bottom: 10vh;
}

.title {
    height: fit-content;
    width: fit-content;
    font-family: Gamecuben;
    font-size: 50pt;
    text-align: right;
    color: #E61E3F;
    filter: drop-shadow(0px 4px 0px rgba(0,0,0, 0.25));
}

.subtitle {
    font-family: Orbitron;
    font-size: 10pt;
    color: #81F0FE;
}

.shoe {
    position: absolute;
    bottom: 0px;
    height: 1vh;
    width: 201%;
    background: linear-gradient(to left, #E61E3F, #F1D868, #60E66F, #E61E3F, #F1D868, #60E66F, #E61E3F);
    animation: scrollShoe 4s linear 0s infinite;
}

.exp-btn {
    font-family: Orbitron;
    font-size: 12pt;
    background-color: #E61E3F;
    color: #fff;
    width: 18vw;
    height: 6vh;
    cursor: pointer;
    border: 0px;
    filter: drop-shadow(0px 4px 0px rgba(0,0,0, 0.25));
}

@keyframes scrollShoe {
    0% {
        right: 0vw;
    }

    50% {
        right: -50vw;
    }

    100% {
        right: -100vw;
    }
}

#code {
    z-index: 0;
    opacity: 0.10;
    position: absolute;
    width: 100%;
    height: 100%;
    /* filter: hue-rotate(180deg); */
}